<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="Database" connectionString="Data Source=(localdb)\mssqllocaldb; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|Database.mdf" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.7" />
        <httpRuntime targetFramework="4.7" />
    </system.web>
</configuration>